<html>
<h1>Tags</h1>
<form method="POST" action="tags">
{% csrf_token %}
<table border="1">
    <tr>
        <td>
            <ul>
                {% for tag in tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </td>
        <td valign="top">
            Search for tags starting with:
            <input type="text" name="tag_prefix" value="{{ tag_prefix }}" />
            <input type="submit" />
            {% if filtered_tags %}
            <div>
                Click on a tag to show matching person records.
                <ul>
                    {% for tag in filtered_tags %}
                    <li><a href="tags?tag_prefix={{ tag_prefix }}&selected_tag={{ tag.encoded }}">{{ tag.raw }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if matching_people %}
            <!--
            It can be a limited set of profile info, for now we only need primary email, phone, first and last name, primary address.
David Kreisman - TechMon 1:41pm

In addition to that profile info, we would like to see any tags they have that start with "Team - ". Is that doable without showing all of the tags on their profile?

 value|join:" // "
            -->
            <div>
                People matching tag '{{ selected_tag }}':
                <table border="1">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Team Tags</th>
                        <th>E-mail</th>
                        <th>Phone</th>
                        <th>Address</th>
                    </tr>
                    {% for person in matching_people %}
                    <tr>
                        <td>{{ person.first_name }}</td>
                        <td>{{ person.last_name }}</td>
                        <td>{{ person.team_tags|join:", " }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.phone }}</td>
                        <td>
                            <div>
                                {{ person.address.address1 }}
                            </div>
                            <div>
                                {{ person.address.address2|default_if_none:'' }}
                            </div>
                            <div>
                                {{ person.address.city }},
                                {{ person.address.state }}
                                {{ person.address.zip }}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </td>
    </tr>
</table>
</form>

</html>