<html>
<h1>Tag Search</h1>
<form method="POST" action="tags">
{% csrf_token %}
<table border="1">
    <tr>
        <td>
            <ul>
                {% for tag in tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </td>
        <td valign="top">
            Search for tags starting with:
            <input type="text" name="tag_prefix" value="{{ tag_prefix }}" />
            <input type="submit" />
            {% if filtered_tags %}
            <div>
                Click on a tag to show matching person records.
                <ul>
                    {% for tag in filtered_tags %}
                    <li><a href="tags?tag_prefix={{ tag_prefix }}&selected_tag={{ tag.encoded }}">{{ tag.raw }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if matching_people %}
            <div>
                People matching tag '{{ selected_tag.raw }}':
                <table border="1">
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Team Tags</th>
                        <th>E-mail</th>
                        <th>Phone</th>
                        <th>Address</th>
                    </tr>
                {% for person in matching_people %}
                    {% if person.id == edit_person_id %}
                    <tr>
                        <td>
                            <input type="hidden" name="selected_tag" value="{{ selected_tag.raw }}" />
                            <input type="hidden" name="edit_person_id" value="{{ edit_person_id }}" />
                            <input type="submit" value="Save" />
                        </td>
                        <td>{{ person.id }}</td>
                        <td><input type="text" name="person_first_name" value="{{ person.first_name }}" /></td>
                        <td><input type="text" name="person_last_name" value="{{ person.last_name }}" /></td>
                        <td>{{ person.team_tags|join:", " }}</td>
                        <td><input type="text" name="person_email" value="{{ person.email }}" /></td>
                        <td><input type="text" name="person_phone" value="{{ person.phone }}" /></td>
                        <td>
                            <div>
                                {{ person.address.address1 }}
                            </div>
                            <div>
                                {{ person.address.address2|default_if_none:'' }}
                            </div>
                            <div>
                                {{ person.address.city }},
                                {{ person.address.state }}
                                {{ person.address.zip }}
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td><a href="tags?tag_prefix={{ tag_prefix }}&selected_tag={{ selected_tag.encoded }}&edit_person_id={{ person.id }}">Edit</a></td>
                        <td>{{ person.id }}</td>
                        <td>{{ person.first_name }}</td>
                        <td>{{ person.last_name }}</td>
                        <td>{{ person.team_tags|join:", " }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.phone }}</td>
                        <td>
                            <div>
                                {{ person.address.address1 }}
                            </div>
                            <div>
                                {{ person.address.address2|default_if_none:'' }}
                            </div>
                            <div>
                                {{ person.address.city }},
                                {{ person.address.state }}
                                {{ person.address.zip }}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
            {% endif %}
        </td>
    </tr>
</table>
</form>

</html>